.transactions-container {
  display: flex;
}

.transactions-form {
  width: 400px;
  padding-right: 15px;
}

.transactions-table {
  // Ensure the table takes up the remaining space
  flex: 1;
  padding-left: 15px;
  border-left: 0.5px solid rgb(0, 142, 0)
}