.vertical-toolbar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.vertical-toolbar .title {
    font-size: 24px;
    padding: 30px 20px 20px 20px;
}

.vertical-toolbar .nav-links {
    display: flex;
    flex-direction: column;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition: color 0.3s;
}


.nav-links a:hover {
}

.menu-icon {
    margin-right: 8px;
}

.spacer-between-title-nav {
    height: 20px;
}