<div class="vertical-toolbar">
  <div class="title">
      <span>SMR</span>
  </div>
  <div class="spacer-between-title-nav"></div>
  <nav class="nav-links">
      <a routerLink="/dashboard" routerLinkActive="active-link"><i class="fas fa-tachometer-alt menu-icon accent"></i> Dashboard</a>
      <a routerLink="/stock" routerLinkActive="active-link"><i class="fas fa-boxes menu-icon"></i> Stock</a>
      <a routerLink="/transactions" routerLinkActive="active-link"><i class="fas fa-exchange-alt menu-icon"></i> Transactions</a>
      <a routerLink="/reports" routerLinkActive="active-link"><i class="fas fa-chart-line menu-icon"></i> Reports</a>
  </nav>
</div>