<form (ngSubmit)="onSubmit()" #transactionForm="ngForm">

  <!-- Name -->
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" [(ngModel)]="transaction.name" placeholder="Enter transaction name" required (input)="onNameInput($event)" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let name of filteredNames" [value]="name">
        {{ name }}
      </mat-option>
    </mat-autocomplete>
  </div>

  <!-- Category -->
  <div class="form-group" *ngIf="transaction.transactionType !== TransactionType.Salary">
    <label for="category">Category</label>
    <select id="category" name="category" [(ngModel)]="selectedCategory" (change)="onCategoryChange($event)" required>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>

  <!-- Item -->
  <div class="form-group" *ngIf="transaction.transactionType !== TransactionType.Salary">
    <label for="item">Item</label>
    <select id="item" name="item" [(ngModel)]="transaction.item" (change)="onItemChange($event)" required>
      <option *ngFor="let item of filteredItems" [value]="item.name">{{ item.name }}</option>
    </select>
  </div>

  <!-- Quantity -->
  <div class="form-group" *ngIf="transaction.transactionType !== TransactionType.Salary">
    <label for="quantity">Quantity</label>
    <div class="input-group">
      <input id="quantity" name="quantity" type="number" [(ngModel)]="transaction.quantity" placeholder="Enter quantity" min="1" required />
      <span *ngIf="selectedItemUnit" class="input-group-addon">{{ selectedItemUnit }}</span>
    </div>
  </div>

  <!-- Price -->
  <div class="form-group" *ngIf="transaction.transactionType !== TransactionType.Salary">
    <label for="price">Price</label>
    <div class="input-group">
      <input id="price" name="price" type="number" [(ngModel)]="transaction.price" placeholder="Enter price per unit" min="0" step="10" required />
      <span class="input-group-addon">₹</span>
    </div>
  </div>

  <!-- Amount -->
  <div class="form-group" *ngIf="transaction.transactionType === TransactionType.Salary">
    <label for="amount">Amount</label>
    <div class="input-group">
      <input id="amount" name="amount" type="number" [(ngModel)]="transaction.amount" placeholder="Enter amount" min="0" step="10" required />
      <span class="input-group-addon">₹</span>
    </div>
  </div>

  <!-- Date and Time -->
  <div class="form-group">
    <label for="transactionDate">Transaction Date and Time</label>
    <input id="transactionDate" name="transactionDate" type="datetime-local" [(ngModel)]="transaction.dateCreated" [max]="currentDateTime" required />
  </div>

  <!-- Submit and Cancel Buttons -->
  <button type="button" *ngIf="isEditMode" (click)="cancelEdit()">Cancel</button>
  <button type="submit" [disabled]="!transactionForm.valid">{{ isEditMode ? 'Update Transaction' : 'Add Transaction' }}</button>
</form>
