th.mat-sort-header-sorted {
  color: black;
}

.table-container {
  height: calc(100vh - 200px); // Adjust 200px based on your header/footer height
  overflow-y: auto;
}

mat-icon {
  cursor: pointer;
}

.progress-bar{
  width: 100%;
}