<div class="table-container" (scroll)="onScroll($event)">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="editTransaction(element)">edit</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="transactionType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Transaction type </th>
      <td mat-cell *matCellDef="let element"> {{element.transactionType}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> item </th>
      <td mat-cell *matCellDef="let element"> {{element.item}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="dateCreated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Date Created </th>
      <td mat-cell *matCellDef="let element"> {{element.dateCreated | date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="dateUpdated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Date Updated </th>
      <td mat-cell *matCellDef="let element"> {{element.dateUpdated[element.dateUpdated.length - 1] | date:'short'}} </td> <!-- Show latest date -->
    </ng-container>
    
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="deleteTransaction(element)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate" class="progress-bar"></mat-progress-bar>
</div>