.mat-app-background {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #121212; /* Matches dark theme background */
    color: white; /* Ensures text visibility */
  }
  
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .spacer {
    flex: 1;
  }
  
  .content {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
  }
  