<div class="dark-theme mat-app-background">
    <mat-toolbar color="primary">
        <img src="assets/logo.png" alt="" class="logo" />
        <span>Rice Factory Management</span>
        <!-- <span class="spacer"></span> -->
        
        <nav class="nav-links">
            <a routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
            <a routerLink="/stock" routerLinkActive="active-link">Stock</a>
            <a routerLink="/transactions" routerLinkActive="active-link">Transactions</a>
            <a routerLink="/reports" routerLinkActive="active-link">Reports</a>
        </nav>
        <span class="spacer"></span>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>
        <mat-button mat-icon-button class="userMenu" title="userMenu" [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
        </mat-button>
    </mat-toolbar>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>