@use '@angular/material' as mat;

.mat-app-background {
    display: flex;
    background-color: white;
    color: #1b5e20;
}

.body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.content{
    margin-left: 100px;
}