@use 'src/styles/custom-theme' as theme;
@use '@angular/material' as mat;

.mat-app-background {
    height: 100vh;
    display: flex;
}

.body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.content{
    margin-left: 100px;
}